.modal-header {
  position: absolute;
  padding: 0;

  .close {
    right: 0;
    outline: none;
    position: fixed;
    background-color: transparent;
    border: none;
    top: 0;
    z-index: 1;
    font-size: 45px;
  }
}

.modal-body {
  padding: 0;

  .lazy-load-image-background {
    display: inline !important;
  }

  .full-picture-view {
    width: 100%;
    position: inherit;
    height: 100%;
  }
}