$primary-color: #1876b4;
$white-color: #fcf5ed;
$dark-color: #402f2b;
$light-color: #e6d5c3;
$medium-color: #977978;
$alert-color: #cb492a;
$grey-color: #e0e0e0;
$light-black-color: #706e72;
$black-color: #414042;