.rounded-circle {
  width: 20px;
  height: 20px
}

.card-image {
  cursor: pointer;
  height: 200px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-wrap: wrap;

  span {
    flex: 1 0 25%;
    font-size: small;
    text-align: center;

    &:first-child {
      text-align: start;
    }
  }
}